<!-- header -->
<div class="header">
	<div class="header__inner inner">
		<!-- logo -->
		<a href="#" class="logo">logo</a>
		<!-- ¯\_(ツ)_/¯ -->
		<div class="header__wrap">
			<!-- nav -->
			<nav class="nav">
				<ul class="nav__list">
					<li class="nav__item">
						<a href="#" class="nav__link">Почему мы</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">портфолио</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">Тарифы</a>
					</li>
				</ul>
			</nav>
			<!-- ¯\_(ツ)_/¯ -->
			<!-- phones -->
			<div class="phones">
				<a href="tel:84954955555" class="phone">
					<span class="icon icon-phone"></span>
					<span>8 495 495 55 55</span>
				</a>
			</div>
			<!-- ¯\_(ツ)_/¯ -->
		</div>
	</div>
</div>
<!-- ¯\_(ツ)_/¯ -->