<!-- hero -->
<div class="hero" style="background-image: url(./img/hero-bg.png);">
	<div class="hero__inner inner">
		<div class="hero__left">
			<h1 class="title-lg">Закажите <span class="pickout pickout_laser">дизайн интерьера</span> у профессионалов </h1>
			<p>и получите <span class="pickout pickout_small pickout_white">скидку до 30%</span> на стройматериалы и мебель от наших партнеров</p>
			<!-- partners -->
			<div class="partners">
				<a href="#" class="partners__icon" target="_blank">
					<span class="icon icon-partners-1"></span>
					<span class="icon icon-partners-1-hover"></span>
				</a>
				<a href="#" class="partners__icon" target="_blank">
					<span class="icon icon-partners-2"></span>
					<span class="icon icon-partners-2-hover"></span>
				</a>
				<a href="#" class="partners__icon" target="_blank">
					<span class="icon icon-partners-3"></span>
					<span class="icon icon-partners-3-hover"></span>
				</a>
			</div>
			<!-- ¯\_(ツ)_/¯ -->
			<!-- skills -->
			<div class="skills">
				<div class="skills__line skills__line_top"></div>
				<div class="skills__line skills__line_bottom"></div>
				<div class="skills__wrap">
					<div class="skills__item">
						<div class="skills__icon">
							<span class="icon icon-skills-1"></span>
						</div>
						<div class="skills__info">Опыт более <br>300 проектов</div>
					</div>
					<div class="skills__item">
						<div class="skills__icon">
							<span class="icon icon-skills-2"></span>
						</div>
						<div class="skills__info">Точное <br>соблюдение сроков</div>
					</div>
					<div class="skills__item">
						<div class="skills__icon">
							<span class="icon icon-skills-3"></span>
						</div>
						<div class="skills__info">Цены от <br>900 руб./кв.м</div>
					</div>
				</div>
			</div>
			<!-- ¯\_(ツ)_/¯ -->
		</div>
	</div>
</div>
<!-- ¯\_(ツ)_/¯ -->